.steps {
  counter-reset: step;

  .step {
    position: relative;
    padding-left: 3rem;
    margin-top: 0;
    counter-increment: step;

    .step_title {
      font-size: 1.5rem;
    }

    .step_content {
      margin-left: 1rem;
    }
  }
  .step::before {
    content: counter(step);
    position: absolute;
    left: 0.5rem;
    top: 0rem;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    background-color: var(--step-number-background, #a4a6a8);
    color: var(--step-number-color, #f1f2f5);
    text-align: center;
  }

  .step::after {
    content: "";
    position: absolute;
    left: 1.5rem;
    top: 2.5rem;
    width: 0.0625rem;
    height: calc(100% - 2rem);
    background-image: linear-gradient(to bottom, var(--step-line-color, #f1f2f5) 70%, transparent 30%);
    background-size: 100% 1rem;
  }
}
